<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.abi.profiles"
      android:versionCode="13"
      android:versionName="1.5.3">
      <uses-sdk android:minSdkVersion="3" />
      <application android:label="@string/app_name"
          android:icon="@drawable/profile_icon">
          <activity android:name=".Profiles"
                    android:label="@string/app_name">
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
          </activity>
          <activity android:name=".SettingStore"/>
          <activity android:name=".ProfileList"/>
          <activity android:name=".HelpDialog"/>
          <activity android:name=".BlankActivity" android:taskAffinity="com.android.launcher" 
              android:theme="@android:style/Theme.Dialog"/>
          <activity android:name="com.bwx.bequick.MainSettingsActivity"/>
          <receiver android:name=".MyWidgetProvider" android:label="Settings Widget">
              <intent-filter>
                  <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                  <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                  <action android:name="com.abi.profiles.LicenseBroadcast"/>
              </intent-filter>
              <intent-filter>
                  <action android:name="android.intent.action.PACKAGE_ADDED" />
                  <action android:name="android.intent.action.PACKAGE_CHANGED" />
                  <action android:name="android.intent.action.PACKAGE_REMOVED" />
                  <data android:scheme="package" />
              </intent-filter>
              <meta-data android:name="android.appwidget.provider"
                  android:resource="@xml/my_widget_info"/>
          </receiver>
      </application>
      <uses-permission android:name="android.permission.WRITE_SETTINGS" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest> 
